blinker==1.7.0
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
emoji==1.6.3
Flask==3.0.3
Flask-Cors==4.0.0
google-api-core==2.18.0
google-auth==2.29.0
google-cloud-speech==2.26.0
google-cloud-texttospeech==2.16.3
googleapis-common-protos==1.63.0
grpcio==1.62.1
grpcio-status==1.62.1
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.3
joblib==1.4.0
MarkupSafe==2.1.5
nltk==3.8.1
numpy==1.26.4
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
regex==2023.12.25
requests==2.31.0
rsa==4.9
text2emotion==0.0.5
tqdm==4.66.2
urllib3==2.2.1
Werkzeug==3.0.2